<div class="page-header page-header-small" style="background-image: url('./assets/img/sections/gerrit-vermeulen.jpg');">
    <div class="filter filter-primary"></div>
    <div class="content-center">
        <div class="container">
            <h1>Our Services</h1>
            <h3>Let us tell you more about what we do.</h3>
        </div>
    </div>
</div>
<div class="section section-feature cd-section" id="features">

    <!--     *********     FEATURES 1      *********      -->
        <div class="features-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Why our services are the best</h2>
                        <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="nc-icon nc-palette"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Beautiful Gallery</h4>
                                <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="nc-icon nc-bulb-63"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">New Ideas</h4>
                                <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="nc-icon nc-chart-bar-32"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Statistics</h4>
                                <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="nc-icon nc-sun-fog-29"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Delightful design</h4>
                                <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                                <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!--     *********     FEATURES 5      *********      -->
    
    <!--     *********    PROJECTS 4     *********      -->

    <div class="project-4 section bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title text-light">Our Awesome services</h2>
                </div>
            </div>
            <div class="space-top"></div>
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/sebastien-gabrieles.jpg')">
                    </div>
                </div>

                <div class="col-md-5 mr-auto">
                    <div class="card card-plain">
                        <div class="card-body">
                            <h3 class="card-category text-light">Auctum Communication and Consulting</h3>

                            <ul class="list">
                                <li class="text-light list-item">Training and development</li>
                                <li class="text-light">Training and development</li>
                                <li class="text-light">Training and development</li>
                                <li class="text-light">Training and development</li>
                            </ul>
                            <div class="card-footer">
                               
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br/><hr /><br/>
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="card card-plain">
                        <div class="card-body">
                            <h6 class="card-category">Design</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">The aesthetic quality of a product</h3>
                            </a>
                            <p class="card-description">Eventually, the data collected from the grant program could allow the two to play a bit of machine learning moneyball — valuing machine learning engineers without traditional metrics (like having a PhD from Stanford)...</p>

                            <div class="card-footer">
                                <a href="javascript:void(0)" class="btn btn-link btn-neutral">
                                    <i class="fa fa-book" aria-hidden="true"></i> Read More
                                </a>
                                <a href="javascript:void(0)" class="btn btn-just-icon btn-link btn-neutral">
                                    <i class="fa fa-apple" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-just-icon btn-link btn-neutral">
                                    <i class="fa fa-android" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-just-icon btn-link btn-neutral">
                                    <i class="fa fa-windows" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 mr-auto">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/john-towner.jpg')">
                        <div class="card-icon">
                            <i class="nc-icon nc-controller-modern"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    