<div class="page-header page-header-small" style="background-image: url('./assets/img/auctum-background.jpg');">
    <div class="filter filter-primary"></div>
    <div class="content-center">
        <div class="container">
            <h1>Our Services</h1>
            <h3>Let us tell you more about what we do.</h3>
        </div>
    </div>
</div>

<div class="section section-feature cd-section" id="features">

    <div class="features-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Why our services are the best</h2>
                    <h5 class="description">This is the paragraph where you can write more details about your product.
                        Keep you user engaged by providing meaningful information. Remember that by this time, the user
                        is curious, otherwise he wouldn't scroll to get here.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-primary">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">New Ideas</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-primary">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Statistics</h4>
                            <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-primary">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Delightful design</h4>
                            <p>Find unique and handmade delightful designs related items directly from our sellers.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--     *********     FEATURES 5      *********      -->

    <!--     *********    PROJECTS 4     *********      -->

    <div class="project-4 section bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title text-light">Our Awesome services</h2>
                </div>
            </div>
            <div class="space-top"></div>
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="card" data-background="image"
                        style="background-image: url('assets/img/communication.jpg')">
                    </div>
                </div>

                <div class="col-md-5 mr-auto">
                    <div class="card card-plain">
                        <div class="card-body">
                            <a href="javascript:void(0)">
                                <h3 class="card-title text-light">Communication and Consulting</h3>
                            </a>
                            <p class="card-description">Training and development</p>
                            <p class="card-description">Social and Mental development</p>
                            <p class="card-description">Health education</p>
                            <p class="card-description">Marketing and Project management</p>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <hr /><br />
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="card card-plain">
                        <div class="card-body">
                            <a href="javascript:void(0)">
                                <h3 class="card-title text-light">Property Development</h3>
                            </a>
                            <p class="card-description">Accommodation(Rental)</p>
                            <p class="card-description">Office space(Rental)</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-5 mr-auto">
                    <div class="card" data-background="image" style="background-image: url('assets/img/property.jpg')">
                        <div class="card-icon">
                            <i class="nc-icon nc-controller-modern"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="space-top"></div>
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="card" data-background="image"
                        style="background-image: url('assets/img/maintanance.jpg')">
                    </div>
                </div>

                <div class="col-md-5 mr-auto">
                    <div class="card card-plain">
                        <div class="card-body">
                            <a href="javascript:void(0)">
                                <h3 class="card-title text-light">Cleaning and Maintenance</h3>
                            </a>
                            <p class="card-description">Commercial and Industrial cleaning</p>
                            <p class="card-description">Industrial maintenance (Rail and Equipment) </p>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <hr /><br />
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="card card-plain">
                        <div class="card-body">
                            <a href="javascript:void(0)">
                                <h3 class="card-title text-light">Logistics</h3>
                            </a>
                            <p class="card-description">Courier services</p>
                            <p class="card-description">Freight services </p>

                        </div>
                    </div>
                </div>

                <div class="col-md-5 mr-auto">
                    <div class="card" data-background="image" style="background-image: url('assets/img/logistics.jpg')">
                        <div class="card-icon">
                            <i class="nc-icon nc-controller-modern"></i>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>