<nav class="navbar navbar-expand-lg fixed-top nav-down navbar-transparent" >
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <a class="navbar-brand " [routerLink]="['/presentation']">Auctum</a>
                <!-- <img src="assets/img/auctum-logo.jpeg"> -->
            </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <a routerLink="" class="btn btn-link btn-neutral">Home</a>
                <a routerLink="/about-us" class="btn btn-link btn-neutral">About Us</a>
                <a routerLink="/our-services" class="btn btn-link btn-neutral">Services</a>
                <a routerLink="/contact-us" class="btn btn-link btn-neutral">Contact Us</a>
            </ul>
        </div>
    </div>
</nav>
