<div class="page-header page-header-small" style="background-image: url('./assets/img/auctum-background.jpg');">
    <div class="filter filter-primary"></div>
    <div class="content-center">
        <div class="container">
            <h1>About us</h1>
        </div>
    </div>
</div>

<!-- 
<div class="wrapper">
    <div class="main"> -->
<!-- <div class="section section-feature cd-section" id="features">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto pt-4">
                    <br />
                    <h5 class="pt-4">Auctum is a Latin word for “Growth”.
                        Established and overseen by youthful African business visionaries in 2019,
                        Auctum Investments is a group; a coordinated effort; a gathering of
                        organizations spearheading for good business practice from one
                        side of the country to the other. We have interests across
                        assorted areas - driving the development of creating comprehensive
                        economies across Africa</h5>
                    <br />
                </div>
            </div>
            <div class="container pt-4">
                <p> <b>Our Vision</b> is to create and modernize various business practices to make better economies
                    for all, accordingly improving lives. Practice great business and well-disposed
                    business association in the entirety of our undertakings through pertinence,
                    flexibility, and obligation. We accept that creative mind is the proof of things
                    expected, and the ideal opportunity for the things expected is currently with
                    Auctum Investments.</p>


                <h2 class="text-center creators py-2">Our Team</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-body">
                                <div class="card-avatar">
                                    <a href="#avatar">
                                        <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="...">
                                    </a>
                                </div>
                                <p class="card-description text-center">
                                    Hi there, my name is Silindile, the General
                                    manager of Auctum. I overseen all oparations of Auctum.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-body">
                                <div class="card-avatar">
                                    <a href="#avatar">
                                        <img src="./assets/img/faces/joe-gardner-2.jpg" alt="...">
                                    </a>
                                </div>
                                <p class="card-description text-center">
                                    The strength of the team is each individual member. The strength of each member is
                                    the team. If you can laugh together, you can work together, silence isn’t golden,
                                    it’s deadly.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="javascript:void(0)" class="btn btn-just-icon btn-linkedin mr-1"><i
                                        class="fa fa-linkedin"></i></a>
                                <a href="javascript:void(0)" class="btn btn-just-icon btn-dribbble mr-1"><i
                                        class="fa fa-dribbble"></i></a>
                                <a href="javascript:void(0)" class="btn btn-just-icon btn-pinterest"><i
                                        class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-body">
                                <div class="card-avatar">
                                    <a href="#avatar">
                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="...">
                                    </a>
                                </div>
                                <p class="card-description text-center">
                                    I'm a chief financial officer at Auctum with 3 years exeperiance in financial office
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
<!-- </div>
</div> -->

<div class="section section-feature cd-section" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-12 col-xl-12 ml-auto mr-auto text-center">
                <br />
                <h5 class="pt-4">Auctum is a Latin word for “Growth”.
                    Established and overseen by youthful African business visionaries in 2019,
                    Auctum Investments is a group; a coordinated effort; a gathering of
                    organizations spearheading for good business practice from one
                    side of the country to the other. We have interests across
                    assorted areas - driving the development of creating comprehensive
                    economies across Africa</h5>
                <br />

                <p> <b>Our Vision</b> is to create and modernize various business practices to make better economies
                    for all, accordingly improving lives. Practice great business and well-disposed
                    business association in the entirety of our undertakings through pertinence,
                    flexibility, and obligation. We accept that creative mind is the proof of things
                    expected, and the ideal opportunity for the things expected is currently with
                    Auctum Investments.</p>

                <h2 class="text-center creators py-2">Our Team</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-body">
                                <div class="card-avatar">
                                    <a href="#avatar">
                                        <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="...">
                                    </a>
                                </div>
                                <p class="card-description text-center">
                                    Hi there, my name is Silindile, the General
                                    manager of Auctum. I overseen all oparations of Auctum.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-body">
                                <div class="card-avatar">
                                    <a href="#avatar">
                                        <img src="./assets/img/faces/joe-gardner-2.jpg" alt="...">
                                    </a>
                                </div>
                                <p class="card-description text-center">
                                    Hi there, its Zothani here. The chief executive officer of Auctum Inverstment.
                                    <br>
                                    I'm a strong believer of teamwork and i belive when working with a well oriented team, <b>NOT</b> even the sky will be the limit
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-body">
                                <div class="card-avatar">
                                    <a href="#avatar">
                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="...">
                                    </a>
                                </div>
                                <p class="card-description text-center">
                                    I'm a chief financial officer at Auctum with 3 years exeperiance in financial office
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<footer class="footer footer-big footer-light">

    <div class="container">
        <div class="row">
            <div class="col-md-9 ml-auto mr-auto col-sm-9 col-12">
                <div class="copyright">
                    <div class="pull-left">
                        © 2022, Autum Inverstment
                    </div>
                    <div class="links pull-right">
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    Company Policy
                                </a>
                            </li>
                            |
                            <li>
                                <a href="javascript:void(0)">
                                    Terms
                                </a>
                            </li>
                            |
                            <li>
                                <a href="javascript:void(0)">
                                    Privacy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>